<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">
                    <img src="{% static 'logo.png' %}" alt="Logo">
                </h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="../homepage/">HOME</a></li>
                    <li><a href="../login/">LOGIN</a></li>
                    <li><a style="margin-left: 40px;" href="../bookappointment/">BOOK APPOINTMENT</a></li>
                    <li><a style="margin-left: 40px;">Phone1 : 040-8097657889</a></li>
                    <li><a>Phone2 : 040-8097647870</a></li>
                </ul>
            </div>
        </div>
    <div class="text-box">
        <p>Our hospital is a state-of-the-art medical facility <br>that provides exceptional healthcare services to its patients.</p>
        <h1>With a team of highly skilled doctors, nurses, and support staff, we are committed to <br>delivering the best possible care to every patient who walks through our doors. </h1>
        <h2>Our hospital is equipped with the latest medical technology and equipment, <br>ensuring that our patients receive accurate and timely diagnoses and treatments. </h2>
        <h3>We strive to create a welcoming and compassionate environment, <br>where patients feel comfortable and cared for during their stay. </h3>
        <h4>Our hospital is dedicated to improving the health and well-being of our community, <br>and we are proud to be a trusted healthcare provider for generations of families.</h4>
    </div>
    </div>
</body>
</html>